[submodule "web"]
	path = web
	url = git@github.com:trento-project/web.git
[submodule "wanda"]
	path = wanda
	url = git@github.com:trento-project/wanda.git
[submodule "agent"]
	path = agent
	url = git@github.com:trento-project/agent.git
[submodule "checks"]
	path = checks
	url = git@github.com:trento-project/checks.git
[submodule "contracts"]
	path = contracts
	url = git@github.com:trento-project/contracts.git
[submodule "helm-charts"]
	path = helm-charts
	url = git@github.com:trento-project/helm-charts.git
[submodule "docs"]
	path = docs
	url = git@github.com:trento-project/docs.git
